<h1 class="align-center">Why we need to unsubscribe from Observable</h1>
<br>
<h2 class="align-center">With AsyncPipe, RxJS Operators(take, takeUntil, first) or unsubscribe</h2>

<p class="align-center">
  <span>The example with Async Pipe</span>
  <br>
  <button (click)="showAsync = true">
    Show async component
  </button>
  <br>
  <button (click)="showAsync = false">
    Hide async component
  </button> 
</p>

<async *ngIf="showAsync"></async>

<br>
<h2 class="align-center">Without unsubscribing</h2>

<p class="align-center">
  <span>The example doesn't have unsubscribing.</span>
  <br>
  <button (click)="toggleSubscribe = true">
    show the next component
  </button>
  <br>
  <button (click)="toggleSubscribe = false">
    hide without unsubscribe
  </button>
</p>

<no-unsubscribe *ngIf="toggleSubscribe"></no-unsubscribe>

<br>
<br>

<h3 class="align-center italic">Don't forget to unsubscribe from Observable!</h3>
<p class="align-center italic">
  Memory leaks are just a small part of potential issues you could encounter when forgetting to unsubscribe, your whole app can go broken as a result. To avoid this — always complete you subscriptions.
</p>
